:root {
    --color1: #2a2626;
    --color2: #cf55bf;
    --color3: #6d3aa8;
    --color4: #ffffff;
    --color5: #adadad;
  }

li {
    list-style: none;
    color: var(--color4);
    line-height: 2rem;
}


.plan-features li {
    position: relative;
}

.pricing-plan {
    background-color: var(--color1);
}

.headings {
    background: linear-gradient(45deg, var(--color2), var(--color3));
    height: 120px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    align-content: center;
    text-align: center;
    margin-top: -30px;
}

.plan-button {
    background-color: var(--color4);
    font-family: "Hubot Sans", serif;
    text-transform: uppercase;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    color: var(--color5);
    transition: background-color 0.5s ease;
}

.plan-button:hover {
    background-color: var(--color1);
    color: var(--color4);
    border: 2px solid var(--color4);
}

.pricing-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pricing-plan {
    display: flex;
    flex-direction: column;
    height: 400px;
    flex-basis: 300px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.plan-title {
    font-size: 1.3rem;
    line-height: 2rem;
    color: var(--color4);
    font-weight: 600;
}
.plan-price {
    font-size: 1.8rem;
    color: var(--color4);
    font-weight: 300;
}

ul.plan-features {
    padding-left: 0px;
}

/* THIS IS FOR MOBILE */

@media (max-width: 680px) {
    .pricing-plan {
        display: inline-block;
        flex-direction: row;
        flex-basis: 90%;
        height: 320px;
        align-items: flex-start;
    }

    .pricing-container {
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        max-width: 100vw;
    }

    .headings {
        background: linear-gradient(45deg, var(--color2), var(--color3));
        height: 120px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        align-content: center;
        text-align: center;
        margin:0px;
    }
}